.flex-container{
    border: 1px black solid;

}

.titol{
    border: 1px black solid;
    height: 20px ;
    width: 85px ;
    margin: 2px;
    padding: 1px;

}
.horari{
    border: 1px black solid;
    height: 20px ;
    width: 85px ;
    text-align: center;
    margin: 2px;
}
.box_smx{
    text-align: center;
    border: 1px black solid;

}
.dia{
    border: 1px black solid;
    display: flex;
    height: 20px;
    width: 70px;
    margin: 2px;
    text-align: center;

}

.flex-container-head{
    display: flex;
    justify-items: center;
}