body {
    background-color: beige;
}

.flex-container {
    border: 1px; solid black;
    background: #ccc;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

.caja {
    border: 1px solid 
    background-color
    color: 
    width: 200px;
    height: 200px
    line-height: 200px
    text-align: center;
    margin: 5px
}

.c1{
    background: lightblue;
    order: 3;
    flex-grow: 1;
}

.c1{
    background: lightcoral;
    order: 2;
    flex-grow: 1;
}

.c1{
    background: lightgreen;
    order: 1;
    flex-grow: 1;
}